
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style:none;
}
body{
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    font-family:'Helvetica',sans-serif;
    color:grey;
    position:relative;
    border:0;
    margin:0;
    padding:0;

}
p{
    line-height: 29px;
    font-size: 15px;
}
html{
    overflow-x:hidden;
    width:100px;

}
 

.nav-link {
    color:white;
    }
    
.banner-img{
    background-image: linear-gradient(#000000bb, #000000bb), url(https://st2.depositphotos.com/1074956/6056/i/600/depositphotos_60569287-stock-photo-hot-iron-in-smeltery.jpg);
    background-size: cover;
    position:relative;
    width:100%;
    height: 100%;
    position: relative;
    text-rendering: optimizeLegibility;

}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Helvetica', sans-serif;
	font-weight: 600;
	margin-bottom: 0px;
	color: #232323;
}
a{
    text-decoration: none;
	-webkit-transition: all 0.4s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	color: #000;
}
img {
	max-width: 100%;
}
a:hover {
	color: #635CDB;
	text-decoration: none;
}
a:focus {
	outline: none;
	text-decoration: none;
}
/* }/*cop* */
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.no-padding {
	padding: 0
}
.flaticon {
	display: inline
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
	line-height: 38px;
}
h4 {
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 40px;
}
h5 {
	font-size: 16px;
	line-height: 24px;
}
h6 {
	font-size: 14px;
	line-height: 26px;
}
.f-color {
	color: #635CDB;
}
h5.subtitle {
	font-size: 16px;
	font-weight: 400;
}
.pd-right{
	padding-right: 60px;
}
.mb30 {
	margin-bottom: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.pb40 {
	padding-bottom: 40px;
}
.see-more-btn a {
	color: #fff;
	text-align: left!important;
	background: #F98122;
	border-radius: 6px;
	padding: 6px;
}
.section-padding {
	padding: 90px 0px;
}
.section-client {
	padding: 50px 0px;
}
.section-heading {
	text-align: center;
	width: 70%;
	margin: 0 auto 60px;
}
.section-title {
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 15px;
	text-transform: capitalize
}
.section-title span {
	color: #635CDB;
}
.section {
	padding: 100px 0px;
}
.line {
	width: 50px;
	background: #635CDB;
	height: 1px;
	margin: 10px auto;
}
/*------ Modal ---------*/
.modal-open .modal {
	z-index: 9999;
}
.modal-title {
	font-size: 30px!important;
	color: #fff!important;
}
.modal-content {
	background-color: #111736!important;
	border-radius: 30px;
}
.modal-header, .modal-footer {
	border: 0px!important;
}
.modal-body {
	padding: 10px 55px 5px 55px!important;
}
/*---------- BUTTONS ----------*/

.btn {
	font: 600 10.5px/1;
	display: inline-block;
	padding: 15px 45px 15px 45px;
	border: 2px solid transparent;
	-webkit-transition: all .2s;
	transition: all .2s;
	border-radius: 0px;
	font-weight: 600;
	font-size: 25px;
	letter-spacing: 1px;
}
.btn:focus, .btn:active, .btn:active:focus {
	outline: none;
	box-shadow: none;
}
.btn-hero, .btn-white:hover {
	color: #fff !important;
	background: #F98122;
}
.btn-hero:focus {
	color: #fff !Important;
}
.btn-black, .btn-hero:hover {
	background-color: rgba(0, 0, 0, 1);
	color: #fff !Important;
}
.btn-black:hover {
	color: #fff;
	background: #F98122;
}
.btn-black:focus {
	color: #fff;
}
.btn-know-more {
	padding: 10px 35px;
	border-radius: 6px;
	font-size: 18px;
}
.btn-apply {
	padding: 5px 44px;
	border-radius: 6px;
	font-size: 15px;
}
.send-enquiry {
	text-align: right;
}
.btn-white {
	background-color: rgba(255, 255, 255, .95);
	color: rgba(0, 0, 0, .85);
	border-color: rgba(255, 255, 255, .12);
}
.btn-white:focus {
	color: #000;
}
.btn-white:active {
	color: #fff;
}
.btn-trans-black {
	background-color: transparent;
	border: 2px solid rgba(0, 0, 0, .15);
	color: rgba(0, 0, 0, .85);
}
.btn-trans-black:hover {
	color: rgba(255, 255, 255, 1);
	background-color: #000;
}
.btn-trans-white {
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, .15);
	color: rgba(255, 255, 255, .95);
}
.btn-trans-white:hover {
	background-color: rgba(255, 255, 255, .95);
	color: rgba(0, 0, 0, .85);
	border-color: rgba(255, 255, 255, .12);
}
.btn-trans-white:active, .btn-trans-white:focus {
	color: #fff;
	background-color: transparent;
	border-color: rgba(255, 255, 255, .12);
}
.btn-rounded {
	border-radius: 2px;
}
.btn-circled {
	border-radius: 40px;
}
.btn-trans-black:hover {
	background: #635CDB !important;
}
.bg-black {
	background-color: #000;
}
.bg-dark {
	background-color: rgba(0, 0, 0, .96);
}
.bg-feature {
	background-color: #635CDB;
}
.bg-primary {
	background-color: #0db8ca;
}
.bg-gray {
	background-color: #f2f4ec;
}
.bg-white {
	background-color: #fff;
}
.d-table {
	width: 100%;
}
.d-table-cell {
	vertical-align: middle;
}.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgb(0 0 0 / 27%);
}
.orange-overlay {
	background: #F98122;
	opacity: .97;
	height: 100px;
}
.feature-overlay {
	background: #635CDB;
	opacity: .97;
}
.gr-overlay {
	background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
	opacity: .87;
}
